form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 46rem;
  background: #fff;
  border: 1px solid #DCE2E5;
  border-radius: 10px;
  margin: 0 auto;
  padding: 4rem;
  margin-top: 48px;
}

form h2 {
  color: var(--heading);
  font-family: Barlow;
  font-size: 2.25rem;
  font-weight: 700;
}

section h4 {
  font-size: 1.5rem;
  font-weight: 700;
}

section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section+section {
  gap: 0;
}

div.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

div.sameline .input+.input {
  width: 30%;
}

div.sameline {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

label {
  color: var(--text);
  font-size: 0.875rem;
  font-family: Roboto;
}

input,
select {
  height: 3.5rem;
  border-radius: 0.5rem;
  background: var(--bgColor);
  color: var(--text);
  border: 0;
  padding: 0 1rem;
  font-size: 1rem;
  border: 1px solid #DCE2E5;
}

input[name='number'] {
  width: 100%;
}

section header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  width: 16.625rem;
  height: 3.5rem;
  background-color: var(--main);
  color: #fff;
  font-weight: 700;
  border: 0;
  margin-right: auto;
  border-radius: 8px;
  text-transform: uppercase;
}

.short-select {
  width: 50%;
}

.input-radio {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1rem;
}

.input-radio input {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid #DCE2E5;
  background: var(--bgColor);
  margin-right: 1rem;

}

.radio-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sameline:last-child {
  align-items: flex-start;
}

.sameline:last-child .input {
  height: 100%;
}

textarea {
  height: 10rem;
  width: 100%;
  border-radius: 0.5rem;
  background: var(--bgColor);
  font-family: Barlow;
  color: var(--text);
  border: 0;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #DCE2E5;
  margin-bottom: 32px;
}