#page {
  display: flex;
  padding-bottom: 2rem;
  overflow: hidden;
}

#page-container {
  width: 100%;
}

.backgroundImgContainer {
  background: url("../assets/cityp.jpg");
  background-size: cover;
  background-position: top 65% right;
  object-fit: cover;
  width: 100%;
  height: 21.25rem;
}

.city-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 5rem 0 7.5rem; 
}

.city-info h1 {
  font-size: 3.375rem;
  font-weight: 600;
  line-height: 3.125rem;
  color: var(--title);
}

.city-info p {
  color: var(--title);
  max-width: 31.625rem;
  font-family: Heebo;
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin: 2.5rem 0 2rem;
}

.city-info span {
  color: var(--text);
  display: inline-block;
  max-width: 31.625rem;
  font-family: Heebo;
  line-height: 1.625rem;
}

.city-cards-info {
  display: flex;
  align-items: center;
}

.city-cards-info .info-card {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 16.75rem;
  padding: 2rem 0;
  border-radius: 20px;
  border: 1px solid #DCE2E5;
  background: #fff;
  overflow: hidden;
  align-items: center;
  text-align: center;
}

.info-card:nth-child(2) {
  margin: 0 1rem;
}

.info-card i {
  font-size: 2.5rem;
  color: var(--main)
}

.info-card h4 {
  margin: 2rem 0;
  padding-top: 2rem;
  border-top: 1px solid #DCE2E5;
  color: var(--title);
  font-family: Barlow;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.info-card span {
  color: var(--text);
  font-family: Heebo;
  line-height: 1.375rem;
  font-size: 0.875rem;
  display: inline-block;
  max-width: 5.625rem;
  text-align: center;
}

.topRate {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 1rem;
  flex-wrap: wrap;
  flex-grow: 1;
}

main.city-container h3 {
  color: var(--title);
  font-family: Barlow;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.875rem; 
}

.place-card {
  width: 16rem;
  height: 19.1875rem;
  flex-shrink: 0;
  border-radius: 16px;
  border: 1px solid #DCE2E5;
  background: #FFF;
  overflow: hidden;
}

.place-card img {
  width: 16rem;
  height: 10rem;
}

.place-card p {
  margin: 1.5rem 0 1.5rem 1.5rem;
  color: var(--title);
  font-family: Barlow;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5625rem;
}

.place-card footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-top: 1px solid #DCE2E5;
}

.place-card footer span {
  color: var(--text);
  font-family: Barlow;
  font-weight: 500;
  line-height: 1.625rem;
}

.place-card footer i {
  color: var(--main);
  font-size: 1.5rem;
}

div.highlight-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 17.875rem;
  margin: 5rem 0;
  border-radius: 16px;
  border: 1px solid #DCE2E5;
  background: #FFF;
  overflow: hidden;
}

div.highlight-container > section {
  padding: 2.875rem 2.875rem 2.875rem 4rem;
  width: 50%;
  overflow: hidden;
}

div.highlight-container > section header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .tag {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .tag i {
  font-size: 1.5rem;
  color: var(--main);
}

header .tag span {
  display: inline-block;
  margin-left: 1.5rem;
  color: var(--text);
  font-family: Barlow;
  font-weight: 500;
  line-height: 1.625rem;
}

div.highlight-container h2 {
  color: var(--title);
  font-family: Barlow;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 2.25rem;
  margin: 2rem 0 1rem;
}

div.highlight-container p {
  color: var(--text);
  font-family: Heebo;
  line-height: 1.625rem;
}

header .emphasis {
  width: 7.5rem;
  height: 2rem;
  background: var(--main);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1rem;
  border-radius: 100px;
}

header .emphasis span {
  display: inline-block;
  font-family: Barlow;
  font-weight: 500;
  line-height: 1.625rem;
}

div.highlight-container section + section {
  background: url("../assets/highlight.jpg");
  background-size: cover;
  height: 100%;
}

main.city-container footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main.city-container footer .options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.options span {
  display: inline-block;
  margin-left: auto;
  color: var(--text);
  font-family: Heebo;
  line-height: 1.375rem;
  text-align: center;
  padding-left: 0.5rem;
}

@media(max-width: 1024px){
  main.city-container{
    margin-top: 6rem;
  }
}


@media(max-width: 800px){
  .city-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5rem 0 7.5rem; 
  }

  .city-cards-info .info-card {
    border-radius: 20px;
    width: 7rem;
    height: 15rem;
    flex-direction: column;
  }

  .city-info {
    text-align: center;
    margin-bottom: 2rem;
  }

  .info-card h4 {
    font-size: 2rem;
    height: 3rem;
  }

  div.highlight-container {
    flex-direction: column;
    height: 30rem;
  }

  div.highlight-container > section {
    width: 100%;
    overflow: hidden;
    height: 60%;
  }

  div.highlight-container section + section {
    height: 40%;
    background-position:center left;
  }
  
  main.city-container footer .options {
    min-width: 25rem;
  }
}



@media(max-width: 380px){
  main.city-container > h3 {
    text-align: center;
  }

  div.highlight-container section + section {
    max-height: 35%;
  }
}

@media(max-width: 650px){
  footer.filter{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  footer.filter h3{
    padding-bottom: 1rem;
  }

  main.city-container footer .options span{
    text-align: center;
  }
}