* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #f5f8fa;
  --title: #123952;
  --text: #617480;
  --text-light: #A0ACB2;
  --main: #F25D27;
  --secondary: #51B853;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: 'Barlow', sans-serif;
  height: 100vh;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#page {
  display: flex;
  padding-bottom: 2rem;
}

aside {
  width: 6rem;
  height: 100%;
  background: var(--main);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5625rem 0;
}

aside img {
  width: 1.375rem;
  height: 3rem;
}

aside nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

aside nav a {
  color: white;
  width: 1.5rem;
  height: 1.5rem;
}

aside nav a+a {
  margin-top: 1.5rem;
}

aside i {
  color: white;
  font-size: 1.5rem;
}

section.reset-layer {
  width: 6rem;
}

.wrapper {
  max-width: 70rem;
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto;
}

header.dash-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5625rem 1rem;
}

header.dash-header nav {
  display: flex;
  align-items: center;
}

header.dash-header a.return-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.625rem;
  text-decoration: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 10px;
  border: 1px solid #DCE2E5;
}

header.dash-header a.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--secondary);
  color: white;
  font-family: Heebo;
  font-weight: 500;
  line-height: 1.625rem;
  padding: 0.6875rem 2rem;
  border-radius: 10px;
}

header.dash-header a.add-button + a.add-button {
  background-color: var(--main);
  margin-left: 1rem;
}

@media (max-width: 1250px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 1024px){
  aside {
    width: 100%;
    height: 6rem;
    background: var(--main);
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5625rem 0;
  }

  aside nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  aside img{
    min-width: 4rem;
  }

  #dashboard, #page-container, #city-container wrapper{
    margin-top: 6rem;
    height: 100%;
  }
  
  #dashboard{
    margin: 6rem auto auto auto;
  }


  aside nav a + a{
    margin-top: 0;
  }

  aside nav a{
    margin-right: 2rem;
  }

  section.reset-layer {
    display: none;
  }
}

@media(max-width: 380px) {
  html {
    font-size: 70%;
  }
}

@media(max-width: 608px){
  .highlight-container{
    display: none;
  }
}